.mark{
    width: 100%;
    height: 100vh;

}
.momm{
   
    border-color: black;
    border-bottom: dotted;
    padding: 30px;
    
}
 .marker1 h3{
    background-image: linear-gradient(to right, green, yellow);
    background-clip: text;
    color: transparent;
}
.marker1 i{
    color: #fd7e14;
    /* background-color: greenyellow; */
}

.marker1 h1::after {
    content: "";
    position: absolute;
    background-color: #fd7e14;
    z-index: -1;
    width:25%;
    height: 20px;
    top: 25px;
    right:38%;
    transition: all 0.5s;
    
   
}
:hover.marker1 h1::after{
    height: 40px;
    top: 25%;
    
}
.mom{
    border-color: black;
    border-top: dotted;
    padding: 20px;
    margin-top: 50px;

}